* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  border: 1px solid #000;
  padding-left: 240px;
  padding-right: 240px;
  background-image: url("../images/herobanner.jpg");
  background-size: cover;
  height: 100vh;
  
}
.navbar {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}
